body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #484040;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* font-size: 35px; */
}

.quiz-container {
    background-color: #5b5454;
    color: #c9b8b8;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    min-height: 90%;
    text-align: left;
}

#question {
    min-width: 80%;
    min-height: 15vh;
    text-align: left;
    font-size: 35px;
}
.red-font {
    color: #e7846d;
}

button {
    width: 60%;
    height: 70px;
    font-size: 45px;
    color: #c9b8b8;

}
button#idBackBtn{
    width: 20%;
    height: 70px;
    font-size: 45px;
    color: #c9b8b8;

}

#idanswer1 {
    min-width: 80%;
    min-height:200px;
    text-align: left;
    font-size: 35px;
}

#options {
    margin-top: 10px;
    text-align: left;
}

#options input[type="radio"] {
    margin-right: 5px;
}

button {
    margin-top: 10px;
    background-color: #176ac3;
    color: #c9b8b8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
